/* Styling */
body {
    font-family: Arial, Helvetica, sans-serif;
}
button {
    background-color: #3882F6;
    color:white;
    border: none;
    border-radius: 4px;
    padding: 12px;
    margin: 12px;
}
button:hover {
    background-color: white;
    color: #3882F6;
    cursor:pointer;
}
div {
    padding: 20px;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
    color: white;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: none;
}
h2 {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}
h3 {
    font-size: 36px;
    font-weight: bolder;
}
.hero-secondary {
    font-size:18px;
    color:#E5E7EB;
}
.header {
    background-color: #1F2937;
    color: white;
}
.content-one {
    background-color: #1F2937;
    color: white;
}
.card-img{
    border-radius: 4px;

}
.main-img {
    flex: 1 1 0;
}
.link-box {
    flex: 1 1 0;
}
.card-img{
    border-radius: 4px;
    border: 2px solid #3882F6;
}
.content-three {
    background-color: #E5E7EB;
    color: #1F2937;
    font-style:italic;
    font-weight:lighter;
    font-size:36px;
    padding: 10%;
}
.content-four {
    background-color: #3882F6;
    color:#F9FAF8;
    margin: 5% 10%;
    border-radius: 6px;
}
.button-end{
    border: 2px solid white;
    padding: 20px;
}
.button-end:hover{
    border: 2px solid #3882F6;
}
.footer{
    background-color: #1F2937;
    color: #F9FAF8;
}



/* Flexbox */

body {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-links {
    display: flex;
    gap: 12px;
}
.content-one {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-slot {
    display: flex;
}
.content-three {
    display: flex;
    flex-direction: column;
}
.content-four {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}